[Desktop Entry]
Version=00.00.00
Exec=/opt/appGtLabel/appGtLabel.sh
GenericName[zh_CN]=(高哲信息)
Icon=/opt/appGtLabel/bin/icon.png
Name=appGtLabel
Categories=System;
Terminal=false
Type=Application
